/* General Styles */
#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.beginning {
  position: absolute;
  width: 100%;
  height: 5rem;
  background: black;
}

.dark {
  position: absolute;
  width: 100%;
  height: 20rem;
  background: black;
}

@media screen {

  .dark {
  position: absolute;
  width: 100%;
  height: 30rem;
  background: black;
  }
}